{
  "extends": "@antfu",
  "rules": {
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 3
        },
        "multiline": {
          "max": 1
        }
      }
    ],
  },
}